ul {
    padding: 0;
    display: flex;
    margin: 0 auto;
  }
  ul li {
    display: inline;
    box-sizing: border-box;
    padding: 0 2em;
    
    a {
      color: white;
      cursor: pointer;
    }
    a:hover {
        color: rgb(187, 187, 187);
    }
  }